
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #660708;
}
.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: 'Rampart One', cursive;
  font-size: 40px;
  color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #BA181B;

}

.popcorn {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 1%;
  position: center;

}
.nav-text {
  margin: 1% auto 1% 3% ;

}

.header {
  padding: 0;
  margin: 0;
  color: black;
}
.nav-subhead {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  padding: 0;
  color: #B1A7A6;
}
