.movie-card {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.4);
}

.movie-poster {
  height: 400px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.movie-text-front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.movie-title, .movie-genres {
  padding-left: 10px;
  display: none;

}

.movie-genres {
  color: grey;
}
.movie-rating {
  margin-right: 10px;
  margin-left: auto;
  display: none;
}
