.movie-card {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
}

.movie-text-front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.movie-title, .movie-genres {
  padding-left: 10px;
}

.movie-genres {
  color: grey;
}
.movie-rating {
  margin-right: 10px;
  margin-left: auto;
}
