.movie-details {
  background-color: pink;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 700px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.4);
}

.movie-backdrop {
  height: 40%;
  object-fit: cover;
}

.movie-title, .movie-genres, .tagline, .detail-rating, .movie-overview, .budget, .revenue, .runtime, .movie-releaseDate {
  padding-left: 10px;
}

.movie-genres {
  color: grey;
}
