.movie-details {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  height: 100%;
  border: 2px solid green;
}

.movie-backdrop {
  width: 40%;
  opacity: 0.7;
  padding: 0;
  margin: 0;

}

.movie-info {

}

.movie-title, .movie-genres, .tagline, .detail-rating, .movie-overview, .budget, .revenue, .runtime, .movie-releaseDate {
  padding-left: 10px;
}

.movie-genres {
  color: grey;
}

.arrow-icon {
  height: 40px;
  margin: 0 10px 10px auto;

}
