.movie-details {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 1000px;
  z-index: 1;
  position: relative;
  /* border: 2px solid green; */
}

.movie-cover {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  right: 100px;
  top: 50px;
  height: 600px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 0.5);
}

.movie-backdrop {
  width: 100vw;
  position: relative;
  opacity: 15%;
  padding: 0;
  margin: 0;
  object-fit: cover;
  /* z-index: -1; */
}

.movie-info {
  top: 100px;
  left: 100px;
  position: absolute;
  width: 40vw;
}

.title-container {
  border-bottom: 1px solid black;
}

.tagline {

}

.arrow-icon {
  pointer-events: all;
  position: absolute;
  height: 40px;
  margin: 0 10px 10px auto;
  z-index: 10;
  cursor: pointer;
}

.arrow-icon:hover {
  opacity: 50%;
}
