.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.search-input {
  margin-top: 20px;
  border-radius: 7px;
  border: 1px solid black;
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  .search-input {
    margin: 12px 0px 7px;
  }
}
